@import url('https://fonts.googleapis.com/css?family=Faster+One|Monofett');
@import url('https://fonts.googleapis.com/css?family=Faster+One|Monofett|Play');
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}
/*====== [GLOBAL SELECTORS] =======*/
ul {
    list-style: none;
    padding: 0;
}
a {
    text-decoration: none;
}
body {
    margin: 0 auto;
    width: 100%;
    background: linear-gradient(to right, #671677 , #671677 50%, #591166 50%, #591166);

}
main .banner {
    display: block;
    align-self: center;
    text-align: center;
    background-color: #6c7589;
}
.banner article {
    margin: 0 20px;
    background-color: #FFF;
}
.banner article img {
    width: 100%;
    max-width: 250px;
    padding-top: 30px;
}
.banner article h1 {
    font-family: 'Monofett', cursive;
    font-family: 'Faster One', cursive;
    color:#853491;
    font-size: 5em;
    font-weight: 400;
}
article .bottom {
    display: block;
    background-image: url("../appicons/title_bottom.svg");
    height: 36px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    background-color: #6c7589;
}
.buttons {
    text-align: center;
    align-self: center;
    padding: 3vw 0;
}
.buttons button {
    width: 100%;
    padding: 10px 0;
    margin: 10px auto;
    max-width: 200px;
    font-size: 1.3em;
    font-family:'Play', sans-serif;
}

button:not([disabled]) {
    transition: all .3s ease 0s;
}
.buttons button:not([disabled]):focus,
.buttons button:not([disabled]):hover {
    background-color: #6c7589; 
    outline: 1px solid #6c7589;
    color: #FFF;
}
.alerting {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 150px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
.alert-content {
    background-color: #FFF;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
}
.close {
    color: #000;
    float:right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: #000;
    cursor: pointer;
}
@media screen and (max-width: 538px) {
  .banner article h1 {
    font-size: 2em;
   }
   .alert-content {
      width: 80%;
      position: absolute;
      top: 0;
      left: 10%;
      padding-top: 0px;
      
   }
   .buttons li > button {
      padding: 0;
      margin: 2px 0;
   }

}
